{% extends "base.html" %}
{%block students_active %} class="active"{% endblock %}

{% block content %}
<p>Welcome  {{request.user}}</p>
<table class="table">
        <tr>
        <th></th>
        <th>Fullname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Interests</th>
        <th>Last updated</th>
        </tr>
        
        {% for student in students %}
            <tr>
            <td>{{forloop.counter}}</td>
            <td>    {{student.full_name}} </td>
            <td>    {{student.age}} </td>
            <td>    {{student.email}} </td>
            <td>    {{student.interests}} </td>
            <td>    {{student.last_update | timesince}} </td>
            </tr>

        {% endfor %}
</table>

{% endblock %}

